.balls {
    font-size: 25px;
    color: darkblue;
    background-color: black;

    & > button {
        font-size: 12px;

        &:hover{
            font-size: 15px;
        }
    }
}
.background {
   background-color: black;
}
body{
    background-color: black;
    background-image: url(/images/the-eight-ball.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.transwind{
    background-color: transparent;
}
.graywind{
    background-color: lightgray;
    opacity: 0.8;
}
.scroll-this{
    overflow: auto;    
    height:60vh;
    }
// md-checkbox.md-checked{
//     background-color: green;
//     & .md-icon:after{background-color: blue}
// }