.balls {
    font-size: 25px;
    color: darkblue;
    background-color: black;

    & > button {
        font-size: 12px;

        &:hover{
            font-size: 15px;
        }
    }
}
.background {
   background-color: black;
}
body{
    background-color: black;
    background-image: url(/images/the-eight-ball.jpg);
    background-size: cover
}
.transwind{
    background-color: transparent;
}