<div layout="column" layout-align="center">
    <md-card flex="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Git Your Fortune</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <table>
                <thead>
                    <td>
                        Ask away Child
                    </td>
                </thead>
            </table>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="vm.askEightBall()">Balls</md-button>
        </md-card-actions>
    </md-card>
</div>