<div layout="row" flex="100" flex-order="1" layout-align="center center">
	<md-card flex="40" class="transwind">
			<img src="images/logo1.jpg" class="md-card-image">
		<md-card-content>
			<div>
				<md-input-container class="md-block">
					<label>What is your question?</label>
					<input ng-model="vm.question" type="text" ng-keydown="$event.which === 13 && vm.askEightBall()">
				</md-input-container>
			</div>
			<div>
				<span class="md-headline">{{vm.answer.answer}}</span>
			</div>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button ng-click="vm.askEightBall()">
				<img class="png-icon" src="images/askbutton.png">
			</md-button>
		</md-card-actions>
	</md-card>
</div>
<div layout="row" flex="30" flex-order="2" layout-align="end end">
	<md-card class="graywind">
		<md-card-content>
			<table>
				<thead>
					<td>
						Last 5 Questions
					</td>
				</thead>
				<tbody>
					<tr ng-repeat="question in vm.questions">
						<td>
							{{question.question}} - {{question.answer}}
						</td>
				</tbody>
			</table>
		</md-card-content>
	</md-card>
</div>